body{
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino kaku Gothic Pro","メイリオ",Meiryo, Osaka,sans-serif;
    background-color: #fff;
    line-height: 1.8;
}
p{
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino kaku Gothic Pro","メイリオ",Meiryo, Osaka,sans-serif;
}
span.em{
    font-weight: bold;
}
#content input{
    font-size: 1.6rem;
}
#content label{
    font-size: 1.6rem;
}
#content form button{
    width: 100%;
}
#content form input[type="text"]{
    font-size: 14px;
}

#footer img, #content img{
    vertical-align: baseline;
}
#footer p{
    text-align: left;
    line-height: 1.8;
    margin: 0 0 15px;
}
#footer-bar{
    height: 50px;
    bottom: 0;
    width: 100%;
}

#footer .sns{
    margin-top: 50px;
    width: 250px;
    height: 30px;
    clear: both;
}
#footer .sns .btn{
    margin-right: 20px;
    height: 30px;
    float: left;
}
#footer-bar{
    text-align: center;
}
#footer-bar .name{
    height: 40px;
    font-size: 14px;
    padding-top: 8px;
}

@media screen and (min-width: 800px ) {
   nav.top-bar{
    margin: 0;
    padding: 0;
    background-color: #0f92ba;
    height: 40px;
    }
    nav.top-bar h1{
        line-height: 2;
        color: #ffffff;
        margin-top: 0px;
        margin-left: 10px;
        font-size: 1.25rem;
        font-weight: normal;
    }

    #header{
        width:780px;
        margin: 0 auto;
    }
    #header p{
        margin-top: 40px;
        margin-bottom: 30px;
    }
    #content{
        width: 780px;
        margin: 0 auto;
    }
    #content h3{
        font-family: "ヒラギノ角ゴ Pro W3", "Hiragino kaku Gothic Pro","メイリオ",Meiryo, Osaka,sans-serif;
        color: #444444;
        margin: 30px 0 15px;
        font-size:1.05rem;
        font-weight: normal;
    }
    #content label{
        font-family: "ヒラギノ角ゴ Pro W3", "Hiragino kaku Gothic Pro","メイリオ",Meiryo, Osaka,sans-serif;
        color: #444444;
        font-size: 1rem;
    }
    #footer {
        width: 780px;
        margin: 30px auto 50px;
    }


}
@media screen and (max-width: 799px) {
  nav.top-bar{
    margin: 0;
    padding: 0;
    background-color: #0f92ba;
    height: 40px;
    }
    nav.top-bar h1{
        line-height: 2;
        color: #ffffff;
        margin-top: 0px;
        margin-left: 10px;
        font-size: 1.25rem;
        font-weight: normal;
    }
    #content h3{
        margin: 30px 0 15px;
        font-size:1rem;
        line-height: 1.6;
        font-weight: normal;
    }
    #header{
        width:80%;
        margin: 0 auto;
    }
    #header p{
        margin-top: 20px;
    }
    #content{
        width: 80%;
        margin: 0 auto;
    }
    #footer {
        width: 80%;
        margin: 30px auto;
    }
    #footer .sns{
    margin-top: 50px;
    margin-bottom: 40px;
    width: 250px;
    height: 30px;
    clear: both;
    }
    #footer-bar{
    position: relative;
    height: 40px;
    width: 100%;
    padding-top: 5px;
    }
    #footer-bar .name{
        font-size: 1rem;
    }
}
@media only screen
 and (min-device-width: 320px)
 and (-webkit-min-device-pixel-ratio: 2) {
    nav.top-bar{
    margin: 0;
    padding: 0;
    background-color: #0f92ba;
    height:36px;
    }
    nav.top-bar h1{
        line-height: 2;
        color: #ffffff;
        margin-top: 0px;
        margin-left: 5px;
        font-size: 1rem;
        font-weight: bold;
    }
    #header{
        width:90%;
        margin: 0 auto;
    }
    #header p{
        margin-top: 10px;
        font-size: 1rem;
        line-height: 1.6;
    }
    #content{
        width: 90%;
        margin: 0 auto;
    }
    #content h3{
        margin: 15px 0 15px;
        line-height: 1.6;
        font-weight: normal;
        font-size: 1rem;
    }
    #content form select{
        font-size: 14px;
        height: 38px;
    }
    #content form label{
        font-size: 14px;
        margin-bottom: 10px;
    }
    #content form input[type="text"]{
        font-size: 14px;
        height: 38px;
    }
    #content form input[type="checkbox"]{
        font-size: 14px;
    }
    #content button{
        font-weight: bold;
        font-size: 1rem;
    }
    #footer.row{
        width: 90%;
        padding-bottom: 10px;
        margin: 20px auto 10px;
        min-height: 100px;
    }
    #footer p{
        font-size: 1rem;
    }
    #footer .sns .btn{
    margin-right: 10px;
}
    #footer-bar{
        position: relative;
        height: 50px;
        width: 100%;
        padding-top: 5px;
    }
    #footer-bar .name{
        font-size: 1rem;
    }
}
